{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<form method="GET" action="{% url 'filemanagement:feed' %}">
    {% crispy form %}
</form>
<div class="file-grid">
    <div class="file-grid-header">
        <h4>File Name</h4>
        <h4>File Description</h4>
        <h4>Actions</h4>
    </div>
    {% for file in files %}
    <div class="file-details">
        <div class="file-name">{{ file.title }}</div>
        <div class="file-description">{{ file.description }}</div>
        <div class="file-actions">
            <a href="{{ file.get_file_url }}" class="btn btn-primary actions">Preview</a>
            <a href="{% url 'filemanagement:download_file' file_id=file.id %}" download class="btn btn-primary actions">Download</a>
        </div>
    </div>
    {% endfor %}
</div>
<style>
.file-grid {
  display: grid;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-top: 40px;
}

.file-grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.file-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.file-name,
.file-description,
.file-actions {
  display: flex;
  align-items: center;
}

.actions {
    margin-left: 10px;
}
</style>
{% endblock %}